.gitconfig.local

.DS_Store
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log

#Dev

.sass-cache
.tmp
node_modules
bower_components
.npm-debug.log
app/output

#Config

config

#TX

build
design

*.build.zip
*.sublime-workspace
