@import 'patterns/_tx-overlay';



/* Layout Base */

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $background;
  font-size: 0;
  text-align: center;
  white-space: nowrap;

  &:before {
    @include tx-pseudo-va;
    vertical-align: middle;
  }

}



/* App */

.app {
  $app-minWidth: 500px;

  @include tx-inline-block;
  @include tx-font-size($fontSize);
  position: relative;
  min-width: ($app-minWidth - $gap);
  padding: 0 ($gap / 2);
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

.logo {
  $logo-color: $blue;
  $logo-fontSize: $fontSize * 1;

  @include tx-font-size($logo-fontSize);
  float: left;
  margin: 0;
  color: $logo-color;
  font-weight: normal;
  visibility: hidden;
}



/* Navigation */

.navItems {
  @include tx-rhythm(0, 2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.navItem {
  margin: 0 0 0 ($gap / 2);
}



/* Form */

.form {
  @include tx-rhythm(0, 2);
  position: relative;

  &:before {
    @include tx-pseudo();
    @include tx-sprite-image($ssh-sprites);
    top: 24px;
    right: 15px;
  }

  &-is-validBoard {

    &:before {
      $icon: $spt-valid;

      @include tx-sprite-block($icon);
      @include tx-sprite-position($icon);
      margin: ($spt-valid-height / -2) 0 0;
    }

  }

  &-is-invalidBoard {

    &:before {
      $icon: $spt-invalid;

      @include tx-sprite-block($icon);
      @include tx-sprite-position($icon);
      margin: ($spt-invalid-height / -2) 0 0;
    }

  }

}



/* Options */

%UIListStyle {
  display: flex;
  padding: 0;
  text-align: center;
  list-style: none;
  user-select: none;
}

.options {
  @extend %UIListStyle;
  @include tx-rhythm(1, 1);
  justify-content: space-between;
}

.option {
  @include tx-font-size($fontSize);
  margin: 0;
}



/* Share Links */

.shareLinks {
  @extend %UIListStyle;
  @include tx-rhythm(2, 0, $mrgt: 50px, $mlft: 50px);
  justify-content: space-between;
  font-size: 0;
  text-align: center;
}



/* Message */

.overlay {
  @extend %tx-overlay;

  &-is-active {
    @extend %tx-overlay-is-active;
  }

}

.messageArticle {
  $message-minWidth: 250px;
  $message-maxWidth: 350px;
  $message-color: $ui-color;
  $message-background: $white;

  @include tx-inline-block;
  @include tx-font-size($fontSize);
  position: relative;
  min-width: $message-minWidth;
  max-width: $message-maxWidth;
  padding: ($gap * 1.5) $gap;
  border-radius: $ui-borderRadius;
  color: $message-color;
  background: $message-background;
  vertical-align: middle;
  white-space: normal;
}

.messageText {
  @include tx-rhythm(0, 1);
}



/* Help */

.helpArticle {
  $helpArticle-minWidth: 260px;
  $helpArticle-maxWidth: 390px;
  $helpArticle-background: $white;

  @include tx-inline-block;
  @include tx-font-size($fontSize);
  @include tx-font-size($fontSize * .90);
  position: relative;
  min-width: $helpArticle-minWidth;
  max-width: $helpArticle-maxWidth;
  padding: ($gap * .5) $gap;
  border-radius: $ui-borderRadius;
  background: $helpArticle-background;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

.authorizationHelp {

  &-is-invisible {
    display: none;
  }

}





/* Error */

.errorMessage {
  @include tx-inline-block;
  @include tx-font-size($fontSize);
  vertical-align: middle;
}

.error {
  @include tx-font-size($fontSize * 8);
  color: $ui-color;
  font-weight: bold;
}



/* Disclaimer */

.disclaimer {
  $disclaimer-maxWidth: 420px;
  $disclaimer-color: $gray;

  @include tx-font-size(small, .75);
  @include tx-rhythm(1, 0, $mrgt: auto, $mlft: auto);
  max-width: $disclaimer-maxWidth;
  color: $disclaimer-color;
  text-align: center;
}



/* HDPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {

  .form:before {
    @include tx-sprite-dpi($ssh-sprites-2x, $ssh-sprites);
  }

}

@media only screen and (min-resolution: 2.5dppx), only screen and (-webkit-min-device-pixel-ratio: 2.5), only screen and (min--moz-device-pixel-ratio: 2.5), only screen and (-o-min-device-pixel-ratio: 5 / 2), only screen and (min-device-pixel-ratio: 2.5), only screen and (min-resolution: 250dpi) {

  .form:before {
    @include tx-sprite-dpi($ssh-sprites-3x, $ssh-sprites);
  }

}



/* Large Resolution Layout */

@media only screen and (min-width: txf-breakpoint(desktopWide)) {}



/* Tablet Layout */

@media only screen and (max-width: txf-breakpoint(desktopMin)) {}

@media only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(desktopMin)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 150dpi) {}



/* Phone Layout */

@media handheld, only screen and (max-width: txf-breakpoint(phoneMax)) {

  @import 'phone/_layout-phone';

}

@media only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(phoneMax)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 150dpi) {}



/* Print Layout */

@media print {

  @import 'print/_layout-print';

}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
