@import 'patterns/_tx-overlay';



/* Layout Base */

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $background;
  text-align: center;
  white-space: nowrap;

  &:before {
    @include tx-pseudo-va;
    vertical-align: middle;
  }

}



/* App */

.app {
  $app-minWidth: 500px;

  @include tx-inline-block;
  min-width: ($app-minWidth - $gap);
  padding: 0 ($gap / 2);
  text-align: left;
  white-space: normal;
  vertical-align: middle;
}



/* Options */

%UIListStyle {
  display: flex;
  padding: 0;
  list-style: none;
  text-align: center;
  user-select: none;
}

.formatOptions {
  @extend %UIListStyle;
  @include tx-rhythm(1, 1);
  justify-content: space-between;
}

.formatOption {
  @include tx-font-size($fontSize);
}



/* Share Links */

.shareLinks {
  @extend %UIListStyle;
  @include tx-rhythm(1.5, 0, $mrgt: 75px, $mlft: 75px);
  justify-content: space-around;
  font-size: 0;
  text-align: center;
}



/* CSS Option */

.cssOptionsForm {
  @include tx-rhythm(1.5, 0);
  position: relative;
  visibility: hidden;

  &-is-active {
    visibility: visible;
  }

}



/* Message */

.overlay {
  @extend %tx-overlay;

  &-is-active {
    @extend %tx-overlay-is-active;
  }

}

.message {
  $message-minWidth: 250px;
  $message-maxWidth: 350px;
  $message-color: $ui-color;
  $message-background: $white;

  @include tx-inline-block;
  position: relative;
  min-width: $message-minWidth;
  max-width: $message-maxWidth;
  padding: ($gap* 1.5) $gap;
  color: $message-color;
  background: $message-background;
  border-radius: $ui-borderRadius;
  white-space: normal;
  vertical-align: middle;
}



/* HDPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution Layout */

@media only screen and (min-width: txf-breakpoint(desktopWide)) {}



/* Tablet Layout */

@media only screen and (max-width: txf-breakpoint(desktopMin)) {}

@media only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(desktopMin)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 150dpi) {}



/* Phone Layout */

@media handheld, only screen and (max-width: txf-breakpoint(phoneMax)) {

  @import 'phone/_layout-phone';

}

@media only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(phoneMax)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 150dpi) {}



/* Print Layout */

@media print {

  @import 'print/_layout-print';

}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
