/* Button */

$tx-button-width: 320px;
$tx-button-height: 100px;
$tx-button-padding: $gap;
$tx-button-color: $white;
$tx-button-hover: $blue;
$tx-button-background: $blue;
$tx-button-backgroundHover: $white;
$tx-button-borderWidth: 2px;
$tx-button-borderColor: $tx-button-background;
$tx-button-borderRadius: 10px;
$tx-button-fontSize: 25px;

%tx-button {
  @extend %tx-buttonHover;
  @include tx-font-size($tx-button-fontSize);
  width: ($tx-button-width - $tx-button-borderWidth * 2);
  height: ($tx-button-height - $tx-button-borderWidth * 2);
  padding: 0;
  border: $tx-button-borderWidth solid $tx-button-borderColor;
  border-radius: $tx-button-borderRadius;
  color: $tx-button-color;
  background: $tx-button-background;
  transition: $UITransition;

  &-link {
    @extend %tx-button;
    text-decoration: none;
    line-height: ($tx-button-height - $tx-button-borderWidth * 2);

    &:visited {
      color: $tx-button-color;
      background: $tx-button-background;
    }

  }

  &-input {
    @extend %tx-button;
    cursor: pointer;
  }

  &:hover,
  &:active {
    color: $tx-button-hover;
    background: $tx-button-backgroundHover;
  }

}
