%image-cog {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuMDkgMzQuNzYzYTE3LjE0IDE3LjE0IDAgMCAwIDQuNzcyIDEuOThWNDBoOC4yNzZ2LTMuMjU4YTE3LjE0IDE3LjE0IDAgMCAwIDQuNzczLTEuOThsMi4zMSAyLjMwNiA1Ljg1LTUuODUyLTIuMzA0LTIuMzA1YTE3LjE0IDE3LjE0IDAgMCAwIDEuOTgtNC43N0g0MHYtOC4yNzRoLTMuMjU4YTE3LjE0IDE3LjE0IDAgMCAwLTEuOTgtNC43NzNsMi4zMDYtMi4zMDUtNS44NTItNS44NTJMMjguOTEgNS4yNGExNy4xNCAxNy4xNCAwIDAgMC00Ljc3LTEuOThWMGgtOC4yNzV2My4yNThhMTcuMTQgMTcuMTQgMCAwIDAtNC43NzMgMS45OEw4Ljc4NCAyLjkzbC01Ljg1IDUuODU0IDIuMzA0IDIuMzA1YTE3LjE0IDE3LjE0IDAgMCAwLTEuOTggNC43N0gwdjguMjc0aDMuMjU4YTE3LjE0IDE3LjE0IDAgMCAwIDEuOTggNC43NzNsLTIuMzA4IDIuMzEgNS44NTIgNS44NSAyLjMwNS0yLjMwNnpNMjAgMjkuNjU1YTkuNjU1IDkuNjU1IDAgMSAwIDAtMTkuMzEgOS42NTUgOS42NTUgMCAwIDAgMCAxOS4zMXoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
}

%image-select {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyMCAyNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAxNWgyMEwxMCAyNXptMC01aDIwTDEwIDB6IiBmaWxsPSIjMWQ5MmM1Ii8+PC9zdmc+");
}

%image-loading {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCA1MiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEgMjFhMTAgMTAgMCAwIDEgMC0yMGMxMCAwIDIwIDIwIDMwIDIwYTEwIDEwIDAgMCAwIDAtMjBDMzEgMSAyMSAyMSAxMSAyMWExMCAxMCAwIDAgMSAwLTIwYzEwIDAgMjAgMjAgMzAgMjAiIGNsYXNzPSJsb2FkaW5nIi8+PHN0eWxlPi5sb2FkaW5ne3N0cm9rZTojZmZmO3N0cm9rZS13aWR0aDoyO2ZpbGw6bm9uZTthbmltYXRpb246bG9hZGluZ0FuaW0gMXMgaW5maW5pdGUgbGluZWFyfUBrZXlmcmFtZXMgbG9hZGluZ0FuaW17ZnJvbXtzdHJva2UtZGFzaGFycmF5OjAgMCA3MCAxMzZ9dG97c3Ryb2tlLWRhc2hhcnJheTowIDEzNiA3MCAwfX08L3N0eWxlPjwvc3ZnPg==");
}

%ie-image-cog {
  background-image: url(../images/cog.svg);
}

%ie-image-select {
  background-image: url(../images/select.svg);
}

%ie-image-loading {
  background-image: url(../images/loading.svg);
}

