// Colors

$white: #fff;
$red: #d9534f;
$blue: #1d92c5;
$blueDark: #285e79;
$purple: #6f5499;
$gray: #ccc;
$black: #333;

$underlineOpacity: .5;



// Default Colors

$text: $white;
$link: $white;
$visited: $white;
$hover: $red;
$active: $red;

$background: $blueDark;

$placeholder-color: $gray;

$selection-color: $blueDark;
$selection-background: $white;

$print-color: $black;
$print-background: $white;
