// sprites.png

$spt-check-name: 'spt-check';
$spt-check-x: 64px;
$spt-check-y: 25px;
$spt-check-offset-x: -64px;
$spt-check-offset-y: -25px;
$spt-check-width: 22px;
$spt-check-height: 20px;
$spt-check-total-width: 88px;
$spt-check-total-height: 72px;
$spt-check-image: '../images/sprites.png';
$spt-check: (64px, 25px, -64px, -25px, 22px, 20px, 88px, 72px, '../images/sprites.png', 'spt-check');
$spt-close-name: 'spt-close';
$spt-close-x: 0;
$spt-close-y: 25px;
$spt-close-offset-x: 0;
$spt-close-offset-y: -25px;
$spt-close-width: 22px;
$spt-close-height: 22px;
$spt-close-total-width: 88px;
$spt-close-total-height: 72px;
$spt-close-image: '../images/sprites.png';
$spt-close: (0, 25px, 0, -25px, 22px, 22px, 88px, 72px, '../images/sprites.png', 'spt-close');
$spt-download-name: 'spt-download';
$spt-download-x: 50px;
$spt-download-y: 52px;
$spt-download-offset-x: -50px;
$spt-download-offset-y: -52px;
$spt-download-width: 18px;
$spt-download-height: 19px;
$spt-download-total-width: 88px;
$spt-download-total-height: 72px;
$spt-download-image: '../images/sprites.png';
$spt-download: (50px, 52px, -50px, -52px, 18px, 19px, 88px, 72px, '../images/sprites.png', 'spt-download');
$spt-facebook-name: 'spt-facebook';
$spt-facebook-x: 0;
$spt-facebook-y: 52px;
$spt-facebook-offset-x: 0;
$spt-facebook-offset-y: -52px;
$spt-facebook-width: 20px;
$spt-facebook-height: 20px;
$spt-facebook-total-width: 88px;
$spt-facebook-total-height: 72px;
$spt-facebook-image: '../images/sprites.png';
$spt-facebook: (0, 52px, 0, -52px, 20px, 20px, 88px, 72px, '../images/sprites.png', 'spt-facebook');
$spt-github-name: 'spt-github';
$spt-github-x: 25px;
$spt-github-y: 52px;
$spt-github-offset-x: -25px;
$spt-github-offset-y: -52px;
$spt-github-width: 20px;
$spt-github-height: 20px;
$spt-github-total-width: 88px;
$spt-github-total-height: 72px;
$spt-github-image: '../images/sprites.png';
$spt-github: (25px, 52px, -25px, -52px, 20px, 20px, 88px, 72px, '../images/sprites.png', 'spt-github');
$spt-google-name: 'spt-google';
$spt-google-x: 0;
$spt-google-y: 0;
$spt-google-offset-x: 0;
$spt-google-offset-y: 0;
$spt-google-width: 32px;
$spt-google-height: 20px;
$spt-google-total-width: 88px;
$spt-google-total-height: 72px;
$spt-google-image: '../images/sprites.png';
$spt-google: (0, 0, 0, 0, 32px, 20px, 88px, 72px, '../images/sprites.png', 'spt-google');
$spt-invalid-name: 'spt-invalid';
$spt-invalid-x: 37px;
$spt-invalid-y: 0;
$spt-invalid-offset-x: -37px;
$spt-invalid-offset-y: 0;
$spt-invalid-width: 22px;
$spt-invalid-height: 22px;
$spt-invalid-total-width: 88px;
$spt-invalid-total-height: 72px;
$spt-invalid-image: '../images/sprites.png';
$spt-invalid: (37px, 0, -37px, 0, 22px, 22px, 88px, 72px, '../images/sprites.png', 'spt-invalid');
$spt-twitter-name: 'spt-twitter';
$spt-twitter-x: 64px;
$spt-twitter-y: 0;
$spt-twitter-offset-x: -64px;
$spt-twitter-offset-y: 0;
$spt-twitter-width: 24px;
$spt-twitter-height: 20px;
$spt-twitter-total-width: 88px;
$spt-twitter-total-height: 72px;
$spt-twitter-image: '../images/sprites.png';
$spt-twitter: (64px, 0, -64px, 0, 24px, 20px, 88px, 72px, '../images/sprites.png', 'spt-twitter');
$spt-valid-name: 'spt-valid';
$spt-valid-x: 37px;
$spt-valid-y: 27px;
$spt-valid-offset-x: -37px;
$spt-valid-offset-y: -27px;
$spt-valid-width: 22px;
$spt-valid-height: 20px;
$spt-valid-total-width: 88px;
$spt-valid-total-height: 72px;
$spt-valid-image: '../images/sprites.png';
$spt-valid: (37px, 27px, -37px, -27px, 22px, 20px, 88px, 72px, '../images/sprites.png', 'spt-valid');
$ssh-sprites-width: 88px;
$ssh-sprites-height: 72px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-check, $spt-close, $spt-download, $spt-facebook, $spt-github, $spt-google, $spt-invalid, $spt-twitter, $spt-valid);
$ssh-sprites: (88px, 72px, '../images/sprites.png', $ssh-sprites-sprites);
