// sprites.png

$spt-check-name: 'spt-check';
$spt-check-x: 67px;
$spt-check-y: 0;
$spt-check-offset-x: -67px;
$spt-check-offset-y: 0;
$spt-check-width: 22px;
$spt-check-height: 20px;
$spt-check-total-width: 89px;
$spt-check-total-height: 72px;
$spt-check-image: '../images/sprites.png';
$spt-check: (67px, 0, -67px, 0, 22px, 20px, 89px, 72px, '../images/sprites.png', 'spt-check');
$spt-close-name: 'spt-close';
$spt-close-x: 0;
$spt-close-y: 25px;
$spt-close-offset-x: 0;
$spt-close-offset-y: -25px;
$spt-close-width: 22px;
$spt-close-height: 22px;
$spt-close-total-width: 89px;
$spt-close-total-height: 72px;
$spt-close-image: '../images/sprites.png';
$spt-close: (0, 25px, 0, -25px, 22px, 22px, 89px, 72px, '../images/sprites.png', 'spt-close');
$spt-download-name: 'spt-download';
$spt-download-x: 50px;
$spt-download-y: 52px;
$spt-download-offset-x: -50px;
$spt-download-offset-y: -52px;
$spt-download-width: 18px;
$spt-download-height: 19px;
$spt-download-total-width: 89px;
$spt-download-total-height: 72px;
$spt-download-image: '../images/sprites.png';
$spt-download: (50px, 52px, -50px, -52px, 18px, 19px, 89px, 72px, '../images/sprites.png', 'spt-download');
$spt-facebook-name: 'spt-facebook';
$spt-facebook-x: 0;
$spt-facebook-y: 52px;
$spt-facebook-offset-x: 0;
$spt-facebook-offset-y: -52px;
$spt-facebook-width: 20px;
$spt-facebook-height: 20px;
$spt-facebook-total-width: 89px;
$spt-facebook-total-height: 72px;
$spt-facebook-image: '../images/sprites.png';
$spt-facebook: (0, 52px, 0, -52px, 20px, 20px, 89px, 72px, '../images/sprites.png', 'spt-facebook');
$spt-github-name: 'spt-github';
$spt-github-x: 25px;
$spt-github-y: 52px;
$spt-github-offset-x: -25px;
$spt-github-offset-y: -52px;
$spt-github-width: 20px;
$spt-github-height: 20px;
$spt-github-total-width: 89px;
$spt-github-total-height: 72px;
$spt-github-image: '../images/sprites.png';
$spt-github: (25px, 52px, -25px, -52px, 20px, 20px, 89px, 72px, '../images/sprites.png', 'spt-github');
$spt-google-name: 'spt-google';
$spt-google-x: 0;
$spt-google-y: 0;
$spt-google-offset-x: 0;
$spt-google-offset-y: 0;
$spt-google-width: 32px;
$spt-google-height: 20px;
$spt-google-total-width: 89px;
$spt-google-total-height: 72px;
$spt-google-image: '../images/sprites.png';
$spt-google: (0, 0, 0, 0, 32px, 20px, 89px, 72px, '../images/sprites.png', 'spt-google');
$spt-invalid-name: 'spt-invalid';
$spt-invalid-x: 27px;
$spt-invalid-y: 25px;
$spt-invalid-offset-x: -27px;
$spt-invalid-offset-y: -25px;
$spt-invalid-width: 21px;
$spt-invalid-height: 21px;
$spt-invalid-total-width: 89px;
$spt-invalid-total-height: 72px;
$spt-invalid-image: '../images/sprites.png';
$spt-invalid: (27px, 25px, -27px, -25px, 21px, 21px, 89px, 72px, '../images/sprites.png', 'spt-invalid');
$spt-twitter-name: 'spt-twitter';
$spt-twitter-x: 37px;
$spt-twitter-y: 0;
$spt-twitter-offset-x: -37px;
$spt-twitter-offset-y: 0;
$spt-twitter-width: 25px;
$spt-twitter-height: 20px;
$spt-twitter-total-width: 89px;
$spt-twitter-total-height: 72px;
$spt-twitter-image: '../images/sprites.png';
$spt-twitter: (37px, 0, -37px, 0, 25px, 20px, 89px, 72px, '../images/sprites.png', 'spt-twitter');
$spt-valid-name: 'spt-valid';
$spt-valid-x: 67px;
$spt-valid-y: 25px;
$spt-valid-offset-x: -67px;
$spt-valid-offset-y: -25px;
$spt-valid-width: 22px;
$spt-valid-height: 20px;
$spt-valid-total-width: 89px;
$spt-valid-total-height: 72px;
$spt-valid-image: '../images/sprites.png';
$spt-valid: (67px, 25px, -67px, -25px, 22px, 20px, 89px, 72px, '../images/sprites.png', 'spt-valid');
$ssh-sprites-width: 89px;
$ssh-sprites-height: 72px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-check, $spt-close, $spt-download, $spt-facebook, $spt-github, $spt-google, $spt-invalid, $spt-twitter, $spt-valid);
$ssh-sprites: (89px, 72px, '../images/sprites.png', $ssh-sprites-sprites);



// sprites@2x.png

$spt-check-2x-name: 'spt-check@2x';
$spt-check-2x-x: 134px;
$spt-check-2x-y: 0;
$spt-check-2x-offset-x: -134px;
$spt-check-2x-offset-y: 0;
$spt-check-2x-width: 44px;
$spt-check-2x-height: 40px;
$spt-check-2x-total-width: 178px;
$spt-check-2x-total-height: 144px;
$spt-check-2x-image: '../images/sprites@2x.png';
$spt-check-2x: (134px, 0, -134px, 0, 44px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-check@2x');
$spt-close-2x-name: 'spt-close@2x';
$spt-close-2x-x: 0;
$spt-close-2x-y: 50px;
$spt-close-2x-offset-x: 0;
$spt-close-2x-offset-y: -50px;
$spt-close-2x-width: 44px;
$spt-close-2x-height: 44px;
$spt-close-2x-total-width: 178px;
$spt-close-2x-total-height: 144px;
$spt-close-2x-image: '../images/sprites@2x.png';
$spt-close-2x: (0, 50px, 0, -50px, 44px, 44px, 178px, 144px, '../images/sprites@2x.png', 'spt-close@2x');
$spt-download-2x-name: 'spt-download@2x';
$spt-download-2x-x: 100px;
$spt-download-2x-y: 104px;
$spt-download-2x-offset-x: -100px;
$spt-download-2x-offset-y: -104px;
$spt-download-2x-width: 36px;
$spt-download-2x-height: 38px;
$spt-download-2x-total-width: 178px;
$spt-download-2x-total-height: 144px;
$spt-download-2x-image: '../images/sprites@2x.png';
$spt-download-2x: (100px, 104px, -100px, -104px, 36px, 38px, 178px, 144px, '../images/sprites@2x.png', 'spt-download@2x');
$spt-facebook-2x-name: 'spt-facebook@2x';
$spt-facebook-2x-x: 0;
$spt-facebook-2x-y: 104px;
$spt-facebook-2x-offset-x: 0;
$spt-facebook-2x-offset-y: -104px;
$spt-facebook-2x-width: 40px;
$spt-facebook-2x-height: 40px;
$spt-facebook-2x-total-width: 178px;
$spt-facebook-2x-total-height: 144px;
$spt-facebook-2x-image: '../images/sprites@2x.png';
$spt-facebook-2x: (0, 104px, 0, -104px, 40px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-facebook@2x');
$spt-github-2x-name: 'spt-github@2x';
$spt-github-2x-x: 50px;
$spt-github-2x-y: 104px;
$spt-github-2x-offset-x: -50px;
$spt-github-2x-offset-y: -104px;
$spt-github-2x-width: 40px;
$spt-github-2x-height: 40px;
$spt-github-2x-total-width: 178px;
$spt-github-2x-total-height: 144px;
$spt-github-2x-image: '../images/sprites@2x.png';
$spt-github-2x: (50px, 104px, -50px, -104px, 40px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-github@2x');
$spt-google-2x-name: 'spt-google@2x';
$spt-google-2x-x: 0;
$spt-google-2x-y: 0;
$spt-google-2x-offset-x: 0;
$spt-google-2x-offset-y: 0;
$spt-google-2x-width: 64px;
$spt-google-2x-height: 40px;
$spt-google-2x-total-width: 178px;
$spt-google-2x-total-height: 144px;
$spt-google-2x-image: '../images/sprites@2x.png';
$spt-google-2x: (0, 0, 0, 0, 64px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-google@2x');
$spt-invalid-2x-name: 'spt-invalid@2x';
$spt-invalid-2x-x: 54px;
$spt-invalid-2x-y: 50px;
$spt-invalid-2x-offset-x: -54px;
$spt-invalid-2x-offset-y: -50px;
$spt-invalid-2x-width: 42px;
$spt-invalid-2x-height: 42px;
$spt-invalid-2x-total-width: 178px;
$spt-invalid-2x-total-height: 144px;
$spt-invalid-2x-image: '../images/sprites@2x.png';
$spt-invalid-2x: (54px, 50px, -54px, -50px, 42px, 42px, 178px, 144px, '../images/sprites@2x.png', 'spt-invalid@2x');
$spt-twitter-2x-name: 'spt-twitter@2x';
$spt-twitter-2x-x: 74px;
$spt-twitter-2x-y: 0;
$spt-twitter-2x-offset-x: -74px;
$spt-twitter-2x-offset-y: 0;
$spt-twitter-2x-width: 50px;
$spt-twitter-2x-height: 40px;
$spt-twitter-2x-total-width: 178px;
$spt-twitter-2x-total-height: 144px;
$spt-twitter-2x-image: '../images/sprites@2x.png';
$spt-twitter-2x: (74px, 0, -74px, 0, 50px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-twitter@2x');
$spt-valid-2x-name: 'spt-valid@2x';
$spt-valid-2x-x: 134px;
$spt-valid-2x-y: 50px;
$spt-valid-2x-offset-x: -134px;
$spt-valid-2x-offset-y: -50px;
$spt-valid-2x-width: 44px;
$spt-valid-2x-height: 40px;
$spt-valid-2x-total-width: 178px;
$spt-valid-2x-total-height: 144px;
$spt-valid-2x-image: '../images/sprites@2x.png';
$spt-valid-2x: (134px, 50px, -134px, -50px, 44px, 40px, 178px, 144px, '../images/sprites@2x.png', 'spt-valid@2x');
$ssh-sprites-2x-width: 178px;
$ssh-sprites-2x-height: 144px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-check-2x, $spt-close-2x, $spt-download-2x, $spt-facebook-2x, $spt-github-2x, $spt-google-2x, $spt-invalid-2x, $spt-twitter-2x, $spt-valid-2x);
$ssh-sprites-2x: (178px, 144px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);



// sprites@3x.png

$spt-check-3x-name: 'spt-check@3x';
$spt-check-3x-x: 201px;
$spt-check-3x-y: 0;
$spt-check-3x-offset-x: -201px;
$spt-check-3x-offset-y: 0;
$spt-check-3x-width: 66px;
$spt-check-3x-height: 60px;
$spt-check-3x-total-width: 267px;
$spt-check-3x-total-height: 216px;
$spt-check-3x-image: '../images/sprites@3x.png';
$spt-check-3x: (201px, 0, -201px, 0, 66px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-check@3x');
$spt-close-3x-name: 'spt-close@3x';
$spt-close-3x-x: 0;
$spt-close-3x-y: 75px;
$spt-close-3x-offset-x: 0;
$spt-close-3x-offset-y: -75px;
$spt-close-3x-width: 66px;
$spt-close-3x-height: 66px;
$spt-close-3x-total-width: 267px;
$spt-close-3x-total-height: 216px;
$spt-close-3x-image: '../images/sprites@3x.png';
$spt-close-3x: (0, 75px, 0, -75px, 66px, 66px, 267px, 216px, '../images/sprites@3x.png', 'spt-close@3x');
$spt-download-3x-name: 'spt-download@3x';
$spt-download-3x-x: 150px;
$spt-download-3x-y: 156px;
$spt-download-3x-offset-x: -150px;
$spt-download-3x-offset-y: -156px;
$spt-download-3x-width: 54px;
$spt-download-3x-height: 57px;
$spt-download-3x-total-width: 267px;
$spt-download-3x-total-height: 216px;
$spt-download-3x-image: '../images/sprites@3x.png';
$spt-download-3x: (150px, 156px, -150px, -156px, 54px, 57px, 267px, 216px, '../images/sprites@3x.png', 'spt-download@3x');
$spt-facebook-3x-name: 'spt-facebook@3x';
$spt-facebook-3x-x: 0;
$spt-facebook-3x-y: 156px;
$spt-facebook-3x-offset-x: 0;
$spt-facebook-3x-offset-y: -156px;
$spt-facebook-3x-width: 60px;
$spt-facebook-3x-height: 60px;
$spt-facebook-3x-total-width: 267px;
$spt-facebook-3x-total-height: 216px;
$spt-facebook-3x-image: '../images/sprites@3x.png';
$spt-facebook-3x: (0, 156px, 0, -156px, 60px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-facebook@3x');
$spt-github-3x-name: 'spt-github@3x';
$spt-github-3x-x: 75px;
$spt-github-3x-y: 156px;
$spt-github-3x-offset-x: -75px;
$spt-github-3x-offset-y: -156px;
$spt-github-3x-width: 60px;
$spt-github-3x-height: 60px;
$spt-github-3x-total-width: 267px;
$spt-github-3x-total-height: 216px;
$spt-github-3x-image: '../images/sprites@3x.png';
$spt-github-3x: (75px, 156px, -75px, -156px, 60px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-github@3x');
$spt-google-3x-name: 'spt-google@3x';
$spt-google-3x-x: 0;
$spt-google-3x-y: 0;
$spt-google-3x-offset-x: 0;
$spt-google-3x-offset-y: 0;
$spt-google-3x-width: 96px;
$spt-google-3x-height: 60px;
$spt-google-3x-total-width: 267px;
$spt-google-3x-total-height: 216px;
$spt-google-3x-image: '../images/sprites@3x.png';
$spt-google-3x: (0, 0, 0, 0, 96px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-google@3x');
$spt-invalid-3x-name: 'spt-invalid@3x';
$spt-invalid-3x-x: 81px;
$spt-invalid-3x-y: 75px;
$spt-invalid-3x-offset-x: -81px;
$spt-invalid-3x-offset-y: -75px;
$spt-invalid-3x-width: 63px;
$spt-invalid-3x-height: 63px;
$spt-invalid-3x-total-width: 267px;
$spt-invalid-3x-total-height: 216px;
$spt-invalid-3x-image: '../images/sprites@3x.png';
$spt-invalid-3x: (81px, 75px, -81px, -75px, 63px, 63px, 267px, 216px, '../images/sprites@3x.png', 'spt-invalid@3x');
$spt-twitter-3x-name: 'spt-twitter@3x';
$spt-twitter-3x-x: 111px;
$spt-twitter-3x-y: 0;
$spt-twitter-3x-offset-x: -111px;
$spt-twitter-3x-offset-y: 0;
$spt-twitter-3x-width: 75px;
$spt-twitter-3x-height: 60px;
$spt-twitter-3x-total-width: 267px;
$spt-twitter-3x-total-height: 216px;
$spt-twitter-3x-image: '../images/sprites@3x.png';
$spt-twitter-3x: (111px, 0, -111px, 0, 75px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-twitter@3x');
$spt-valid-3x-name: 'spt-valid@3x';
$spt-valid-3x-x: 201px;
$spt-valid-3x-y: 75px;
$spt-valid-3x-offset-x: -201px;
$spt-valid-3x-offset-y: -75px;
$spt-valid-3x-width: 66px;
$spt-valid-3x-height: 60px;
$spt-valid-3x-total-width: 267px;
$spt-valid-3x-total-height: 216px;
$spt-valid-3x-image: '../images/sprites@3x.png';
$spt-valid-3x: (201px, 75px, -201px, -75px, 66px, 60px, 267px, 216px, '../images/sprites@3x.png', 'spt-valid@3x');
$ssh-sprites-3x-width: 267px;
$ssh-sprites-3x-height: 216px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-check-3x, $spt-close-3x, $spt-download-3x, $spt-facebook-3x, $spt-github-3x, $spt-google-3x, $spt-invalid-3x, $spt-twitter-3x, $spt-valid-3x);
$ssh-sprites-3x: (267px, 216px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);
