// sprites.png

$spt-auth-name: 'spt-auth';
$spt-auth-x: 93px;
$spt-auth-y: 47px;
$spt-auth-offset-x: -93px;
$spt-auth-offset-y: -47px;
$spt-auth-width: 14px;
$spt-auth-height: 15px;
$spt-auth-total-width: 111px;
$spt-auth-total-height: 91px;
$spt-auth-image: '../images/sprites.png';
$spt-auth: (93px, 47px, -93px, -47px, 14px, 15px, 111px, 91px, '../images/sprites.png', 'spt-auth');
$spt-check-name: 'spt-check';
$spt-check-x: 27px;
$spt-check-y: 52px;
$spt-check-offset-x: -27px;
$spt-check-offset-y: -52px;
$spt-check-width: 22px;
$spt-check-height: 20px;
$spt-check-total-width: 111px;
$spt-check-total-height: 91px;
$spt-check-image: '../images/sprites.png';
$spt-check: (27px, 52px, -27px, -52px, 22px, 20px, 111px, 91px, '../images/sprites.png', 'spt-check');
$spt-close-name: 'spt-close';
$spt-close-x: 0;
$spt-close-y: 25px;
$spt-close-offset-x: 0;
$spt-close-offset-y: -25px;
$spt-close-width: 22px;
$spt-close-height: 22px;
$spt-close-total-width: 111px;
$spt-close-total-height: 91px;
$spt-close-image: '../images/sprites.png';
$spt-close: (0, 25px, 0, -25px, 22px, 22px, 111px, 91px, '../images/sprites.png', 'spt-close');
$spt-download-name: 'spt-download';
$spt-download-x: 93px;
$spt-download-y: 0;
$spt-download-offset-x: -93px;
$spt-download-offset-y: 0;
$spt-download-width: 18px;
$spt-download-height: 19px;
$spt-download-total-width: 111px;
$spt-download-total-height: 91px;
$spt-download-image: '../images/sprites.png';
$spt-download: (93px, 0, -93px, 0, 18px, 19px, 111px, 91px, '../images/sprites.png', 'spt-download');
$spt-facebook-name: 'spt-facebook';
$spt-facebook-x: 67px;
$spt-facebook-y: 26px;
$spt-facebook-offset-x: -67px;
$spt-facebook-offset-y: -26px;
$spt-facebook-width: 20px;
$spt-facebook-height: 20px;
$spt-facebook-total-width: 111px;
$spt-facebook-total-height: 91px;
$spt-facebook-image: '../images/sprites.png';
$spt-facebook: (67px, 26px, -67px, -26px, 20px, 20px, 111px, 91px, '../images/sprites.png', 'spt-facebook');
$spt-github-name: 'spt-github';
$spt-github-x: 54px;
$spt-github-y: 52px;
$spt-github-offset-x: -54px;
$spt-github-offset-y: -52px;
$spt-github-width: 20px;
$spt-github-height: 20px;
$spt-github-total-width: 111px;
$spt-github-total-height: 91px;
$spt-github-image: '../images/sprites.png';
$spt-github: (54px, 52px, -54px, -52px, 20px, 20px, 111px, 91px, '../images/sprites.png', 'spt-github');
$spt-google-name: 'spt-google';
$spt-google-x: 0;
$spt-google-y: 0;
$spt-google-offset-x: 0;
$spt-google-offset-y: 0;
$spt-google-width: 32px;
$spt-google-height: 20px;
$spt-google-total-width: 111px;
$spt-google-total-height: 91px;
$spt-google-image: '../images/sprites.png';
$spt-google: (0, 0, 0, 0, 32px, 20px, 111px, 91px, '../images/sprites.png', 'spt-google');
$spt-help-name: 'spt-help';
$spt-help-x: 93px;
$spt-help-y: 24px;
$spt-help-offset-x: -93px;
$spt-help-offset-y: -24px;
$spt-help-width: 12px;
$spt-help-height: 18px;
$spt-help-total-width: 111px;
$spt-help-total-height: 91px;
$spt-help-image: '../images/sprites.png';
$spt-help: (93px, 24px, -93px, -24px, 12px, 18px, 111px, 91px, '../images/sprites.png', 'spt-help');
$spt-invalid-name: 'spt-invalid';
$spt-invalid-x: 27px;
$spt-invalid-y: 25px;
$spt-invalid-offset-x: -27px;
$spt-invalid-offset-y: -25px;
$spt-invalid-width: 21px;
$spt-invalid-height: 21px;
$spt-invalid-total-width: 111px;
$spt-invalid-total-height: 91px;
$spt-invalid-image: '../images/sprites.png';
$spt-invalid: (27px, 25px, -27px, -25px, 21px, 21px, 111px, 91px, '../images/sprites.png', 'spt-invalid');
$spt-star-name: 'spt-star';
$spt-star-x: 38px;
$spt-star-y: 77px;
$spt-star-offset-x: -38px;
$spt-star-offset-y: -77px;
$spt-star-width: 14px;
$spt-star-height: 13px;
$spt-star-total-width: 111px;
$spt-star-total-height: 91px;
$spt-star-image: '../images/sprites.png';
$spt-star: (38px, 77px, -38px, -77px, 14px, 13px, 111px, 91px, '../images/sprites.png', 'spt-star');
$spt-starInverted-name: 'spt-starInverted';
$spt-starInverted-x: 19px;
$spt-starInverted-y: 77px;
$spt-starInverted-offset-x: -19px;
$spt-starInverted-offset-y: -77px;
$spt-starInverted-width: 14px;
$spt-starInverted-height: 13px;
$spt-starInverted-total-width: 111px;
$spt-starInverted-total-height: 91px;
$spt-starInverted-image: '../images/sprites.png';
$spt-starInverted: (19px, 77px, -19px, -77px, 14px, 13px, 111px, 91px, '../images/sprites.png', 'spt-starInverted');
$spt-trello-name: 'spt-trello';
$spt-trello-x: 67px;
$spt-trello-y: 0;
$spt-trello-offset-x: -67px;
$spt-trello-offset-y: 0;
$spt-trello-width: 21px;
$spt-trello-height: 21px;
$spt-trello-total-width: 111px;
$spt-trello-total-height: 91px;
$spt-trello-image: '../images/sprites.png';
$spt-trello: (67px, 0, -67px, 0, 21px, 21px, 111px, 91px, '../images/sprites.png', 'spt-trello');
$spt-twitter-name: 'spt-twitter';
$spt-twitter-x: 37px;
$spt-twitter-y: 0;
$spt-twitter-offset-x: -37px;
$spt-twitter-offset-y: 0;
$spt-twitter-width: 25px;
$spt-twitter-height: 20px;
$spt-twitter-total-width: 111px;
$spt-twitter-total-height: 91px;
$spt-twitter-image: '../images/sprites.png';
$spt-twitter: (37px, 0, -37px, 0, 25px, 20px, 111px, 91px, '../images/sprites.png', 'spt-twitter');
$spt-unauth-name: 'spt-unauth';
$spt-unauth-x: 0;
$spt-unauth-y: 77px;
$spt-unauth-offset-x: 0;
$spt-unauth-offset-y: -77px;
$spt-unauth-width: 14px;
$spt-unauth-height: 14px;
$spt-unauth-total-width: 111px;
$spt-unauth-total-height: 91px;
$spt-unauth-image: '../images/sprites.png';
$spt-unauth: (0, 77px, 0, -77px, 14px, 14px, 111px, 91px, '../images/sprites.png', 'spt-unauth');
$spt-valid-name: 'spt-valid';
$spt-valid-x: 0;
$spt-valid-y: 52px;
$spt-valid-offset-x: 0;
$spt-valid-offset-y: -52px;
$spt-valid-width: 22px;
$spt-valid-height: 20px;
$spt-valid-total-width: 111px;
$spt-valid-total-height: 91px;
$spt-valid-image: '../images/sprites.png';
$spt-valid: (0, 52px, 0, -52px, 22px, 20px, 111px, 91px, '../images/sprites.png', 'spt-valid');
$ssh-sprites-width: 111px;
$ssh-sprites-height: 91px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-auth, $spt-check, $spt-close, $spt-download, $spt-facebook, $spt-github, $spt-google, $spt-help, $spt-invalid, $spt-star, $spt-starInverted, $spt-trello, $spt-twitter, $spt-unauth, $spt-valid);
$ssh-sprites: (111px, 91px, '../images/sprites.png', $ssh-sprites-sprites);



// sprites@2x.png

$spt-auth-2x-name: 'spt-auth@2x';
$spt-auth-2x-x: 186px;
$spt-auth-2x-y: 94px;
$spt-auth-2x-offset-x: -186px;
$spt-auth-2x-offset-y: -94px;
$spt-auth-2x-width: 28px;
$spt-auth-2x-height: 30px;
$spt-auth-2x-total-width: 222px;
$spt-auth-2x-total-height: 182px;
$spt-auth-2x-image: '../images/sprites@2x.png';
$spt-auth-2x: (186px, 94px, -186px, -94px, 28px, 30px, 222px, 182px, '../images/sprites@2x.png', 'spt-auth@2x');
$spt-check-2x-name: 'spt-check@2x';
$spt-check-2x-x: 54px;
$spt-check-2x-y: 104px;
$spt-check-2x-offset-x: -54px;
$spt-check-2x-offset-y: -104px;
$spt-check-2x-width: 44px;
$spt-check-2x-height: 40px;
$spt-check-2x-total-width: 222px;
$spt-check-2x-total-height: 182px;
$spt-check-2x-image: '../images/sprites@2x.png';
$spt-check-2x: (54px, 104px, -54px, -104px, 44px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-check@2x');
$spt-close-2x-name: 'spt-close@2x';
$spt-close-2x-x: 0;
$spt-close-2x-y: 50px;
$spt-close-2x-offset-x: 0;
$spt-close-2x-offset-y: -50px;
$spt-close-2x-width: 44px;
$spt-close-2x-height: 44px;
$spt-close-2x-total-width: 222px;
$spt-close-2x-total-height: 182px;
$spt-close-2x-image: '../images/sprites@2x.png';
$spt-close-2x: (0, 50px, 0, -50px, 44px, 44px, 222px, 182px, '../images/sprites@2x.png', 'spt-close@2x');
$spt-download-2x-name: 'spt-download@2x';
$spt-download-2x-x: 186px;
$spt-download-2x-y: 0;
$spt-download-2x-offset-x: -186px;
$spt-download-2x-offset-y: 0;
$spt-download-2x-width: 36px;
$spt-download-2x-height: 38px;
$spt-download-2x-total-width: 222px;
$spt-download-2x-total-height: 182px;
$spt-download-2x-image: '../images/sprites@2x.png';
$spt-download-2x: (186px, 0, -186px, 0, 36px, 38px, 222px, 182px, '../images/sprites@2x.png', 'spt-download@2x');
$spt-facebook-2x-name: 'spt-facebook@2x';
$spt-facebook-2x-x: 134px;
$spt-facebook-2x-y: 52px;
$spt-facebook-2x-offset-x: -134px;
$spt-facebook-2x-offset-y: -52px;
$spt-facebook-2x-width: 40px;
$spt-facebook-2x-height: 40px;
$spt-facebook-2x-total-width: 222px;
$spt-facebook-2x-total-height: 182px;
$spt-facebook-2x-image: '../images/sprites@2x.png';
$spt-facebook-2x: (134px, 52px, -134px, -52px, 40px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-facebook@2x');
$spt-github-2x-name: 'spt-github@2x';
$spt-github-2x-x: 108px;
$spt-github-2x-y: 104px;
$spt-github-2x-offset-x: -108px;
$spt-github-2x-offset-y: -104px;
$spt-github-2x-width: 40px;
$spt-github-2x-height: 40px;
$spt-github-2x-total-width: 222px;
$spt-github-2x-total-height: 182px;
$spt-github-2x-image: '../images/sprites@2x.png';
$spt-github-2x: (108px, 104px, -108px, -104px, 40px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-github@2x');
$spt-google-2x-name: 'spt-google@2x';
$spt-google-2x-x: 0;
$spt-google-2x-y: 0;
$spt-google-2x-offset-x: 0;
$spt-google-2x-offset-y: 0;
$spt-google-2x-width: 64px;
$spt-google-2x-height: 40px;
$spt-google-2x-total-width: 222px;
$spt-google-2x-total-height: 182px;
$spt-google-2x-image: '../images/sprites@2x.png';
$spt-google-2x: (0, 0, 0, 0, 64px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-google@2x');
$spt-help-2x-name: 'spt-help@2x';
$spt-help-2x-x: 186px;
$spt-help-2x-y: 48px;
$spt-help-2x-offset-x: -186px;
$spt-help-2x-offset-y: -48px;
$spt-help-2x-width: 24px;
$spt-help-2x-height: 36px;
$spt-help-2x-total-width: 222px;
$spt-help-2x-total-height: 182px;
$spt-help-2x-image: '../images/sprites@2x.png';
$spt-help-2x: (186px, 48px, -186px, -48px, 24px, 36px, 222px, 182px, '../images/sprites@2x.png', 'spt-help@2x');
$spt-invalid-2x-name: 'spt-invalid@2x';
$spt-invalid-2x-x: 54px;
$spt-invalid-2x-y: 50px;
$spt-invalid-2x-offset-x: -54px;
$spt-invalid-2x-offset-y: -50px;
$spt-invalid-2x-width: 42px;
$spt-invalid-2x-height: 42px;
$spt-invalid-2x-total-width: 222px;
$spt-invalid-2x-total-height: 182px;
$spt-invalid-2x-image: '../images/sprites@2x.png';
$spt-invalid-2x: (54px, 50px, -54px, -50px, 42px, 42px, 222px, 182px, '../images/sprites@2x.png', 'spt-invalid@2x');
$spt-star-2x-name: 'spt-star@2x';
$spt-star-2x-x: 76px;
$spt-star-2x-y: 154px;
$spt-star-2x-offset-x: -76px;
$spt-star-2x-offset-y: -154px;
$spt-star-2x-width: 28px;
$spt-star-2x-height: 26px;
$spt-star-2x-total-width: 222px;
$spt-star-2x-total-height: 182px;
$spt-star-2x-image: '../images/sprites@2x.png';
$spt-star-2x: (76px, 154px, -76px, -154px, 28px, 26px, 222px, 182px, '../images/sprites@2x.png', 'spt-star@2x');
$spt-starInverted-2x-name: 'spt-starInverted@2x';
$spt-starInverted-2x-x: 38px;
$spt-starInverted-2x-y: 154px;
$spt-starInverted-2x-offset-x: -38px;
$spt-starInverted-2x-offset-y: -154px;
$spt-starInverted-2x-width: 28px;
$spt-starInverted-2x-height: 26px;
$spt-starInverted-2x-total-width: 222px;
$spt-starInverted-2x-total-height: 182px;
$spt-starInverted-2x-image: '../images/sprites@2x.png';
$spt-starInverted-2x: (38px, 154px, -38px, -154px, 28px, 26px, 222px, 182px, '../images/sprites@2x.png', 'spt-starInverted@2x');
$spt-trello-2x-name: 'spt-trello@2x';
$spt-trello-2x-x: 134px;
$spt-trello-2x-y: 0;
$spt-trello-2x-offset-x: -134px;
$spt-trello-2x-offset-y: 0;
$spt-trello-2x-width: 42px;
$spt-trello-2x-height: 42px;
$spt-trello-2x-total-width: 222px;
$spt-trello-2x-total-height: 182px;
$spt-trello-2x-image: '../images/sprites@2x.png';
$spt-trello-2x: (134px, 0, -134px, 0, 42px, 42px, 222px, 182px, '../images/sprites@2x.png', 'spt-trello@2x');
$spt-twitter-2x-name: 'spt-twitter@2x';
$spt-twitter-2x-x: 74px;
$spt-twitter-2x-y: 0;
$spt-twitter-2x-offset-x: -74px;
$spt-twitter-2x-offset-y: 0;
$spt-twitter-2x-width: 50px;
$spt-twitter-2x-height: 40px;
$spt-twitter-2x-total-width: 222px;
$spt-twitter-2x-total-height: 182px;
$spt-twitter-2x-image: '../images/sprites@2x.png';
$spt-twitter-2x: (74px, 0, -74px, 0, 50px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-twitter@2x');
$spt-unauth-2x-name: 'spt-unauth@2x';
$spt-unauth-2x-x: 0;
$spt-unauth-2x-y: 154px;
$spt-unauth-2x-offset-x: 0;
$spt-unauth-2x-offset-y: -154px;
$spt-unauth-2x-width: 28px;
$spt-unauth-2x-height: 28px;
$spt-unauth-2x-total-width: 222px;
$spt-unauth-2x-total-height: 182px;
$spt-unauth-2x-image: '../images/sprites@2x.png';
$spt-unauth-2x: (0, 154px, 0, -154px, 28px, 28px, 222px, 182px, '../images/sprites@2x.png', 'spt-unauth@2x');
$spt-valid-2x-name: 'spt-valid@2x';
$spt-valid-2x-x: 0;
$spt-valid-2x-y: 104px;
$spt-valid-2x-offset-x: 0;
$spt-valid-2x-offset-y: -104px;
$spt-valid-2x-width: 44px;
$spt-valid-2x-height: 40px;
$spt-valid-2x-total-width: 222px;
$spt-valid-2x-total-height: 182px;
$spt-valid-2x-image: '../images/sprites@2x.png';
$spt-valid-2x: (0, 104px, 0, -104px, 44px, 40px, 222px, 182px, '../images/sprites@2x.png', 'spt-valid@2x');
$ssh-sprites-2x-width: 222px;
$ssh-sprites-2x-height: 182px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-auth-2x, $spt-check-2x, $spt-close-2x, $spt-download-2x, $spt-facebook-2x, $spt-github-2x, $spt-google-2x, $spt-help-2x, $spt-invalid-2x, $spt-star-2x, $spt-starInverted-2x, $spt-trello-2x, $spt-twitter-2x, $spt-unauth-2x, $spt-valid-2x);
$ssh-sprites-2x: (222px, 182px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);



// sprites@3x.png

$spt-auth-3x-name: 'spt-auth@3x';
$spt-auth-3x-x: 279px;
$spt-auth-3x-y: 141px;
$spt-auth-3x-offset-x: -279px;
$spt-auth-3x-offset-y: -141px;
$spt-auth-3x-width: 42px;
$spt-auth-3x-height: 45px;
$spt-auth-3x-total-width: 333px;
$spt-auth-3x-total-height: 273px;
$spt-auth-3x-image: '../images/sprites@3x.png';
$spt-auth-3x: (279px, 141px, -279px, -141px, 42px, 45px, 333px, 273px, '../images/sprites@3x.png', 'spt-auth@3x');
$spt-check-3x-name: 'spt-check@3x';
$spt-check-3x-x: 81px;
$spt-check-3x-y: 156px;
$spt-check-3x-offset-x: -81px;
$spt-check-3x-offset-y: -156px;
$spt-check-3x-width: 66px;
$spt-check-3x-height: 60px;
$spt-check-3x-total-width: 333px;
$spt-check-3x-total-height: 273px;
$spt-check-3x-image: '../images/sprites@3x.png';
$spt-check-3x: (81px, 156px, -81px, -156px, 66px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-check@3x');
$spt-close-3x-name: 'spt-close@3x';
$spt-close-3x-x: 0;
$spt-close-3x-y: 75px;
$spt-close-3x-offset-x: 0;
$spt-close-3x-offset-y: -75px;
$spt-close-3x-width: 66px;
$spt-close-3x-height: 66px;
$spt-close-3x-total-width: 333px;
$spt-close-3x-total-height: 273px;
$spt-close-3x-image: '../images/sprites@3x.png';
$spt-close-3x: (0, 75px, 0, -75px, 66px, 66px, 333px, 273px, '../images/sprites@3x.png', 'spt-close@3x');
$spt-download-3x-name: 'spt-download@3x';
$spt-download-3x-x: 279px;
$spt-download-3x-y: 0;
$spt-download-3x-offset-x: -279px;
$spt-download-3x-offset-y: 0;
$spt-download-3x-width: 54px;
$spt-download-3x-height: 57px;
$spt-download-3x-total-width: 333px;
$spt-download-3x-total-height: 273px;
$spt-download-3x-image: '../images/sprites@3x.png';
$spt-download-3x: (279px, 0, -279px, 0, 54px, 57px, 333px, 273px, '../images/sprites@3x.png', 'spt-download@3x');
$spt-facebook-3x-name: 'spt-facebook@3x';
$spt-facebook-3x-x: 201px;
$spt-facebook-3x-y: 78px;
$spt-facebook-3x-offset-x: -201px;
$spt-facebook-3x-offset-y: -78px;
$spt-facebook-3x-width: 60px;
$spt-facebook-3x-height: 60px;
$spt-facebook-3x-total-width: 333px;
$spt-facebook-3x-total-height: 273px;
$spt-facebook-3x-image: '../images/sprites@3x.png';
$spt-facebook-3x: (201px, 78px, -201px, -78px, 60px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-facebook@3x');
$spt-github-3x-name: 'spt-github@3x';
$spt-github-3x-x: 162px;
$spt-github-3x-y: 156px;
$spt-github-3x-offset-x: -162px;
$spt-github-3x-offset-y: -156px;
$spt-github-3x-width: 60px;
$spt-github-3x-height: 60px;
$spt-github-3x-total-width: 333px;
$spt-github-3x-total-height: 273px;
$spt-github-3x-image: '../images/sprites@3x.png';
$spt-github-3x: (162px, 156px, -162px, -156px, 60px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-github@3x');
$spt-google-3x-name: 'spt-google@3x';
$spt-google-3x-x: 0;
$spt-google-3x-y: 0;
$spt-google-3x-offset-x: 0;
$spt-google-3x-offset-y: 0;
$spt-google-3x-width: 96px;
$spt-google-3x-height: 60px;
$spt-google-3x-total-width: 333px;
$spt-google-3x-total-height: 273px;
$spt-google-3x-image: '../images/sprites@3x.png';
$spt-google-3x: (0, 0, 0, 0, 96px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-google@3x');
$spt-help-3x-name: 'spt-help@3x';
$spt-help-3x-x: 279px;
$spt-help-3x-y: 72px;
$spt-help-3x-offset-x: -279px;
$spt-help-3x-offset-y: -72px;
$spt-help-3x-width: 36px;
$spt-help-3x-height: 54px;
$spt-help-3x-total-width: 333px;
$spt-help-3x-total-height: 273px;
$spt-help-3x-image: '../images/sprites@3x.png';
$spt-help-3x: (279px, 72px, -279px, -72px, 36px, 54px, 333px, 273px, '../images/sprites@3x.png', 'spt-help@3x');
$spt-invalid-3x-name: 'spt-invalid@3x';
$spt-invalid-3x-x: 81px;
$spt-invalid-3x-y: 75px;
$spt-invalid-3x-offset-x: -81px;
$spt-invalid-3x-offset-y: -75px;
$spt-invalid-3x-width: 63px;
$spt-invalid-3x-height: 63px;
$spt-invalid-3x-total-width: 333px;
$spt-invalid-3x-total-height: 273px;
$spt-invalid-3x-image: '../images/sprites@3x.png';
$spt-invalid-3x: (81px, 75px, -81px, -75px, 63px, 63px, 333px, 273px, '../images/sprites@3x.png', 'spt-invalid@3x');
$spt-star-3x-name: 'spt-star@3x';
$spt-star-3x-x: 114px;
$spt-star-3x-y: 231px;
$spt-star-3x-offset-x: -114px;
$spt-star-3x-offset-y: -231px;
$spt-star-3x-width: 42px;
$spt-star-3x-height: 39px;
$spt-star-3x-total-width: 333px;
$spt-star-3x-total-height: 273px;
$spt-star-3x-image: '../images/sprites@3x.png';
$spt-star-3x: (114px, 231px, -114px, -231px, 42px, 39px, 333px, 273px, '../images/sprites@3x.png', 'spt-star@3x');
$spt-starInverted-3x-name: 'spt-starInverted@3x';
$spt-starInverted-3x-x: 57px;
$spt-starInverted-3x-y: 231px;
$spt-starInverted-3x-offset-x: -57px;
$spt-starInverted-3x-offset-y: -231px;
$spt-starInverted-3x-width: 42px;
$spt-starInverted-3x-height: 39px;
$spt-starInverted-3x-total-width: 333px;
$spt-starInverted-3x-total-height: 273px;
$spt-starInverted-3x-image: '../images/sprites@3x.png';
$spt-starInverted-3x: (57px, 231px, -57px, -231px, 42px, 39px, 333px, 273px, '../images/sprites@3x.png', 'spt-starInverted@3x');
$spt-trello-3x-name: 'spt-trello@3x';
$spt-trello-3x-x: 201px;
$spt-trello-3x-y: 0;
$spt-trello-3x-offset-x: -201px;
$spt-trello-3x-offset-y: 0;
$spt-trello-3x-width: 63px;
$spt-trello-3x-height: 63px;
$spt-trello-3x-total-width: 333px;
$spt-trello-3x-total-height: 273px;
$spt-trello-3x-image: '../images/sprites@3x.png';
$spt-trello-3x: (201px, 0, -201px, 0, 63px, 63px, 333px, 273px, '../images/sprites@3x.png', 'spt-trello@3x');
$spt-twitter-3x-name: 'spt-twitter@3x';
$spt-twitter-3x-x: 111px;
$spt-twitter-3x-y: 0;
$spt-twitter-3x-offset-x: -111px;
$spt-twitter-3x-offset-y: 0;
$spt-twitter-3x-width: 75px;
$spt-twitter-3x-height: 60px;
$spt-twitter-3x-total-width: 333px;
$spt-twitter-3x-total-height: 273px;
$spt-twitter-3x-image: '../images/sprites@3x.png';
$spt-twitter-3x: (111px, 0, -111px, 0, 75px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-twitter@3x');
$spt-unauth-3x-name: 'spt-unauth@3x';
$spt-unauth-3x-x: 0;
$spt-unauth-3x-y: 231px;
$spt-unauth-3x-offset-x: 0;
$spt-unauth-3x-offset-y: -231px;
$spt-unauth-3x-width: 42px;
$spt-unauth-3x-height: 42px;
$spt-unauth-3x-total-width: 333px;
$spt-unauth-3x-total-height: 273px;
$spt-unauth-3x-image: '../images/sprites@3x.png';
$spt-unauth-3x: (0, 231px, 0, -231px, 42px, 42px, 333px, 273px, '../images/sprites@3x.png', 'spt-unauth@3x');
$spt-valid-3x-name: 'spt-valid@3x';
$spt-valid-3x-x: 0;
$spt-valid-3x-y: 156px;
$spt-valid-3x-offset-x: 0;
$spt-valid-3x-offset-y: -156px;
$spt-valid-3x-width: 66px;
$spt-valid-3x-height: 60px;
$spt-valid-3x-total-width: 333px;
$spt-valid-3x-total-height: 273px;
$spt-valid-3x-image: '../images/sprites@3x.png';
$spt-valid-3x: (0, 156px, 0, -156px, 66px, 60px, 333px, 273px, '../images/sprites@3x.png', 'spt-valid@3x');
$ssh-sprites-3x-width: 333px;
$ssh-sprites-3x-height: 273px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-auth-3x, $spt-check-3x, $spt-close-3x, $spt-download-3x, $spt-facebook-3x, $spt-github-3x, $spt-google-3x, $spt-help-3x, $spt-invalid-3x, $spt-star-3x, $spt-starInverted-3x, $spt-trello-3x, $spt-twitter-3x, $spt-unauth-3x, $spt-valid-3x);
$ssh-sprites-3x: (333px, 273px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);
