/* Baseline Styles, Typography & Rhythm */

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #333333;
  font-family: "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

article, section {
  display: block;
}

ul {
  margin: 24px 0;
  margin: 1.5rem 0;
}

ul {
  list-style-type: disc;
}

li {
  margin: 12px 0;
  margin: .75rem 0;
}

/* Phone Baseline */

@media handheld, only screen and (max-width: 45em) {

  /* Typography & Rhythm */
}

/* Print Baseline */

@media print {

  /* Typography & Rhythm */

  @page {
    margin: .5cm;

    size: A4;
  }

  html, body {
    background: #ffffff;
  }

  body {
    color: #333333;
    font-size: 12pt;
    line-height: 1.5;
  }

  input {
    border: 0;
    color: #333333;
    text-decoration: none;
  }

  form {
    display: none;
  }

}

/* Overlay */

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, .75);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%) translateZ(0);
  transform: translateX(-100%) translateZ(0);
  -webkit-transition: opacity .15s, visibility .0001s .15s, -webkit-transform .0001s .15s;
  transition: opacity .15s, visibility .0001s .15s, transform .0001s .15s;
}

.overlay:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.overlay-is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transition: opacity .15s, visibility .0001s, -webkit-transform .0001s;
  transition: opacity .15s, visibility .0001s, transform .0001s;
}

/* Layout Base */

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  text-align: center;
  white-space: nowrap;
}

body:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  vertical-align: middle;
}

/* App */

.app {
  display: inline-block;
  min-width: 470px;
  padding: 0 15px;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

/* Options */

.options, .shareLinks {
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.options {
  margin: 24px 0 36px;
  margin: 1.5rem 0 2.25rem;
}

.option {
  display: inline-block;
  width: 25%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Share Links */

.shareLinks {
  margin: 36px 0 0;
  margin: 2.25rem 0 0;
  text-align: center;
}

.shareItem {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

/* Message */

.message {
  position: relative;
  display: inline-block;
  min-width: 250px;
  max-width: 350px;
  padding: 45px 30px;
  border-radius: 4px;
  color: #337ab7;
  background: #ffffff;
  vertical-align: middle;
  white-space: normal;
}

/* Phone Layout */

@media handheld, only screen and (max-width: 45em) {

  /* App */

  .app {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
  }

}

/* Print Layout */

@media print {

  /* Layout Base */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

}

/* Selection */

::-moz-selection {
  color: #ffffff;
  background: #337ab7;
}

::selection {
  color: #ffffff;
  background: #337ab7;
}

/* Focus */

a:focus, input:focus {
  outline: 1px dotted #cccccc;
}

/* Fast Touch */

a, label, .download {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Links */

a {
  color: #337ab7;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(51, 122, 183, .5);
  -moz-text-decoration-color: rgba(51, 122, 183, .5);
  text-decoration-color: rgba(51, 122, 183, .5);
  -webkit-transition: color .15s, text-decoration-color .15s;
  transition: color .15s, text-decoration-color .15s;
}

a:visited {
  color: #6f5499;
  -webkit-text-decoration-color: rgba(111, 84, 153, .5);
  -moz-text-decoration-color: rgba(111, 84, 153, .5);
  text-decoration-color: rgba(111, 84, 153, .5);
}

a:hover {
  color: #d9534f;
  -webkit-text-decoration-color: rgba(217, 83, 79, .5);
  -moz-text-decoration-color: rgba(217, 83, 79, .5);
  text-decoration-color: rgba(217, 83, 79, .5);
}

a:active {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, .5);
  -moz-text-decoration-color: rgba(35, 82, 124, .5);
  text-decoration-color: rgba(35, 82, 124, .5);
}

/* Forms */

label {
  cursor: pointer;
}

input {
  margin: 0;
  font-family: inherit;
}

input {
  font-size: inherit;
}

input {
  box-sizing: content-box;
}

input {
  border: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  vertical-align: top;
}

.boardURL {
  border: 1px solid #cccccc;
}

input[type="checkbox"] {
  box-sizing: border-box;
  vertical-align: middle;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
  opacity: 1;
}

input[type="file"] {
  height: auto;
  border: 0;
}

/* Form Focus */

.boardURL:focus, .download:focus, .optionCheckbox:focus + .optionLabel, .cssOption:focus + .cssOptionLabel {
  outline: 1px dotted #cccccc;
  outline-offset: 2px;
}

/* Board URL */

.boardURL {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  height: 2.875rem;
  padding: 0 15px;
}

/* Download */

.download {
  display: block;
  width: 100%;
  height: 48px;
  height: 3rem;
  padding: 0;
  border-radius: 4px;
  color: #ffffff;
  background: #337ab7;
  cursor: pointer;
}

.download:hover, .download:active {
  background: #23527c;
}

/* Options */

.optionCheckbox {
  position: absolute;
  left: -1000px;
}

.optionCheckbox:checked + .optionLabel:before {
  background: #337ab7;
}

.optionCheckbox:checked + .optionLabel:after {
  visibility: visible;
}

.optionLabel {
  position: relative;
  display: inline-block;
  color: #337ab7;
  line-height: 30px;
}

.optionLabel:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #337ab7;
  border-radius: 4px;
  margin: -4px 5px 0 0;
  vertical-align: middle;
}

.optionLabel:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  visibility: hidden;
}

/* CSS Options */

.cssOption {
  position: absolute;
  left: -1000px;
}

.cssOption:checked + .cssOptionLabel:before {
  border-color: #337ab7;
  background: #337ab7;
}

.cssOption:checked + .cssOptionLabel:after {
  visibility: visible;
}

.cssOptionLabel {
  position: relative;
  display: inline-block;
  color: #337ab7;
  font-size: 12px;
  font-size: .75rem;
  line-height: 2;
  line-height: 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cssOptionLabel:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: -2px 5px 0 0;
  vertical-align: middle;
}

.cssOptionLabel:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  visibility: hidden;
}

/* Upload */

.upload {
  display: none;
}

/* Share */

.shareLink {
  position: relative;
  display: block;
  text-decoration: none;
}

.shareLink:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px 5px 0;
  background: red;
  vertical-align: top;
}

.shareLink-GH {
  color: #000000;
}

.shareLink-GH:before {
  background: #000000;
}

.shareLink-GH:visited, .shareLink-GH:hover, .shareLink-GH:active {
  color: #000000;
}

.shareLink-TW {
  color: #2eb7ed;
}

.shareLink-TW:before {
  background: #2eb7ed;
}

.shareLink-TW:visited, .shareLink-TW:hover, .shareLink-TW:active {
  color: #2eb7ed;
}

.shareLink-FB {
  color: #3b5998;
}

.shareLink-FB:before {
  background: #3b5998;
}

.shareLink-FB:visited, .shareLink-FB:hover, .shareLink-FB:active {
  color: #3b5998;
}

.shareLink-GP {
  color: #dd4b39;
}

.shareLink-GP:before {
  background: #dd4b39;
}

.shareLink-GP:visited, .shareLink-GP:hover, .shareLink-GP:active {
  color: #dd4b39;
}

.shareLinkCount {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Close */

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 0;
  padding: 30px 0 0;
  border-radius: 4px;
  background: #337ab7;
}

/* Phone UI */

@media handheld, only screen and (max-width: 45em) {

  /* Options */

  .optionLabel:before {
    display: block;
    margin: 0 auto;
  }

  .optionLabel:after {
    top: 0;
    left: 50%;
  }

}

/* Print Typography */

@media print {

  /* Links */

  a[href^="#"]:after {
    content: "";
  }

  a {
    color: #333333;
    text-decoration: none;
  }

  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  a:visited {
    color: #333333;
  }

}

/* TX Rhythm Lines */

.page-is-showingRhythmLines {
  position: relative;
  top: -1px;
  padding: 1px 30px 0;
}

.page-is-showingRhythmLines .debugToolsRhythm {
  display: block;
}

/* TX Debuging Console */

.page-is-showingConsole .debugConsole {
  display: block;
}

/* TX Debuging Controls */

.page-is-showingDebugTools .debugTools {
  transform: translate(0, 0);
}

.page-is-showingDebugTools .debugToolsToggle {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #ffffff;
  opacity: 1;
}

