<article class="disclaimer">
  <p>@tx-title (v@tx-version) is an open source application without any affiliation with Trello. All access to your (and public) boards is done through <a href="https://developers.trello.com/">Trello API</a>.</p>
  <div id="disclaimerIEbug" class="disclaimerIEbug">
    <p>Due to a bug on Trello's side as of right now it's not possible to authorize this application in the Internet Explorer.</p>
  </div>
  <!-- <p>Avaliable in <a href="#language" id="language" class="language language-is-fr">5 languages</a>, as a <a href="#">node.js package</a> and <a href="#">CLI utility</a>.</p> -->
</article>
