<form action="/download" type="get" id="form" class="form">
  <input class="board" name="board" id="board" autocomplete="off" placeholder="Trello Board Link – https://trello.com/b/...">
  <ul class="options">
    <li class="option">
      <input type="checkbox" class="optionCheckbox" name="html" id="html">
      <label for="html" class="optionLabel">HTML</label>
    </li>
    <li class="option">
      <input type="checkbox" class="optionCheckbox" name="md" id="md">
      <label for="md" class="optionLabel">Markdown</label>
    </li>
    <li class="option">
      <input type="checkbox" class="optionCheckbox" name="pdf" id="pdf">
      <label for="pdf" class="optionLabel">PDF</label>
    </li>
    <li class="option">
      <input type="checkbox" class="optionCheckbox" name="epub" id="epub">
      <label for="epub" class="optionLabel">ePub</label>
    </li>
  </ul>
  <button type="submit" class="download" name="download" id="download" disabled="disabled">Download Board</button>
  <ul id="autocomplete" class="autocomplete">
    <li class="autocompleteItem"><a href="https://trello.com/b/yALmJl1H" class="autocompleteOption">Books</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/IyhOCxes" class="autocompleteOption">CBRNnode</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/G0Xo6lxL" class="autocompleteOption">Day Layout</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/3QPUtIH7" class="autocompleteOption">English</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/8ZnGQJ2l" class="autocompleteOption">Fingo</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/FoUyt5fW" class="autocompleteOption">French</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/ivT2Dh47" class="autocompleteOption">Front-end Design / Development Project Boilerplate</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/BPadvEsr" class="autocompleteOption">Front-end Developer Interview Questions</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/bil4uP1e" class="autocompleteOption">GameDev Goals</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/5zcc4tRT" class="autocompleteOption">GameDev Ideas</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/mpdGfXN1" class="autocompleteOption">JS Assessment</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/vWSq61Lm" class="autocompleteOption">Korean</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/IKhabvNQ" class="autocompleteOption">Language Learning Resources</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/4WDgYyZ6" class="autocompleteOption">Language Learning Resources Development</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/nuzOqnH3" class="autocompleteOption">Lucha Asteroid</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/Up5vuWTm" class="autocompleteOption">Maintenance</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/Vv8NPZ4h" class="autocompleteOption">Meal Plans</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/J6innc3b" class="autocompleteOption">Movie Recomendations</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/11l0ii3N" class="autocompleteOption">Movies</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/90cEsGCr" class="autocompleteOption">Music</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/zcSKYtFL" class="autocompleteOption">New Battlestation</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/1ZbEMNEf" class="autocompleteOption">New Bicycle</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/6VNkbPIQ" class="autocompleteOption">Portuguese</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/MEW4ZvGM" class="autocompleteOption">Primer Explained</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/NzJG8uFW" class="autocompleteOption">Publish Trello</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/uQip4CXE" class="autocompleteOption">Publish Trello WebApp</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/MOuBqdjq" class="autocompleteOption">Resume</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/ak1ZJwus" class="autocompleteOption">Sea Monsters Hunt Concepts &amp; Ideas</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/E71yeszF" class="autocompleteOption">Sea Monsters Hunt Development</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/6LlkBPUJ" class="autocompleteOption">Stuff I Need to Learn About</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/aiGVpKzc" class="autocompleteOption">TemplateX Pattern Library</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/hjjW5RXQ" class="autocompleteOption">TemplateX Workflow</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/HRtOG2Px" class="autocompleteOption">Test Board</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/opozbIf1" class="autocompleteOption">Travel</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/8ChoTN3K" class="autocompleteOption">Trip Boilerplate</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/D1X283tB" class="autocompleteOption">Tweet Length</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/oasHuxPk" class="autocompleteOption">WebDev Goals</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/NDfwwHQd" class="autocompleteOption">WebDev Ideas</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/cpQaYDIj" class="autocompleteOption">Workout Plans</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/lsPSmT4A" class="autocompleteOption">Переезд РосЯмы</a></li>
    <li class="autocompleteItem"><a href="https://trello.com/b/5Kz4bWyf" class="autocompleteOption">Сайт НО 3.0</a></li>
  </ul>
</form>
