<div id="help" class="overlay">
  <article class="helpArticle">
    <div id="authHelp" class="authHelp">
      <p>You'll have to <a href="#auth" id="authToggleHelp">authorize</a> this application to get access to your Trello boards. When you do, it will be able to read all of your boards and teams. It won't be able to create or modify any of your cards, lists, boards or comments. It won't access your e-mail address or password.</p>
    </div>
    <ol>
      <li>Paste a link to a private or public Trello board you have access to.</li>
      <li>Decide in which formats you want to download it.</li>
      <li>Download.</li>
    </ol>
    <a href="#" id="closeHelp" class="close">Close</a>
  </article>
</div>
