<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <section id="app" class="app">
      <h1 class="logo">Publish Trello</h1>
      <!-- @tx-process:include _navigation.html --><!-- /@tx-process -->
      <!-- @tx-process:include _form.html --><!-- /@tx-process -->
      <!-- @tx-process:include _share.html --><!-- /@tx-process -->
      <!-- @tx-process:include _disclaimer.html --><!-- /@tx-process -->
    </section>
    <!-- @tx-process:include _message.html --><!-- /@tx-process -->
    <!-- @tx-process:include _help.html --><!-- /@tx-process -->
    <!-- @tx-process:include _scripts.html --><!-- /@tx-process -->
  </body>

</html>
