<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <section id="app" class="app">
      <form action="/download" type="get" id="options" class="form">
        <input type="url" class="boardURL" name="boardURL" id="boardURL" placeholder="Trello Board Link">
        <input type="checkbox" class="cssOption" name="cssOption" id="cssOption">
        <label for="cssOption" class="cssOptionLabel">Custom CSS Styles</label>
        <div id="cssOptionsForm" class="cssOptionsForm">
          <input type="url" class="linkCSS" name="linkCSS" id="linkCSS" placeholder="Link or Choose a CSS File">
          <a href="#" id="uploadCSSBrowse" class="uploadCSSBrowse" tabindex="-1">Browse</a>
          <input type="file" class="uploadCSS" name="uploadCSS" id="uploadCSS">
        </div>
        <ul class="formatOptions">
          <li class="formatOption">
            <input type="checkbox" class="optionCheckbox" name="html" id="html">
            <label for="html" class="optionLabel">HTML</label>
          </li>
          <li class="formatOption">
            <input type="checkbox" class="optionCheckbox" name="md" id="md">
            <label for="md" class="optionLabel">MD</label>
          </li>
          <li class="formatOption">
            <input type="checkbox" class="optionCheckbox" name="pdf" id="pdf">
            <label for="pdf" class="optionLabel">PDF</label>
          </li>
          <li class="formatOption">
            <input type="checkbox" class="optionCheckbox" name="epub" id="epub">
            <label for="epub" class="optionLabel">ePUB</label>
          </li>
        </ul>
        <input type="submit" class="download" name="download" id="download" value="Download Board" disabled="disabled">
      </form>
      <ul class="shareLinks">
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-GH">GitHub <span class="shareLinkCount">100</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-TW">Twitter <span class="shareLinkCount">3</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-FB">Facebook <span class="shareLinkCount">0</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-GP">Google+ <span class="shareLinkCount">324</span></a>
        </li>
      </ul>
    </section>
    <div id="overlay" class="overlay">
      <article class="message">
        <div id="messageText"></div>
        <a href="#" id="close" class="close">Close</a>
      </article>
    </div>
    <!-- @tx-process:include _scripts.html --><!-- /@tx-process -->
  </body>

</html>
