<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <section id="app" class="app">
      <form action="/download" type="get" id="form" class="form">
        <input class="board" name="board" id="board" placeholder="Trello Board Link – https://trello.com/b/...">
        <ul class="options">
          <li class="option">
            <input type="checkbox" class="optionCheckbox" name="html" id="html">
            <label for="html" class="optionLabel">HTML</label>
          </li>
          <li class="option">
            <input type="checkbox" class="optionCheckbox" name="md" id="md">
            <label for="md" class="optionLabel">Markdown</label>
          </li>
          <li class="option">
            <input type="checkbox" class="optionCheckbox" name="pdf" id="pdf">
            <label for="pdf" class="optionLabel">PDF</label>
          </li>
          <li class="option">
            <input type="checkbox" class="optionCheckbox" name="epub" id="epub">
            <label for="epub" class="optionLabel">ePUB</label>
          </li>
        </ul>
        <button type="submit" class="download" name="download" id="download" disabled="disabled">Download Board</button>
      </form>
      <ul class="shareLinks">
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-GH">GitHub <span class="shareLinkCount">100</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-TW">Twitter <span class="shareLinkCount">3</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-FB">Facebook <span class="shareLinkCount">0</span></a>
        </li>
        <li class="shareItem">
          <a href="#" class="shareLink shareLink-GP">Google+ <span class="shareLinkCount">324</span></a>
        </li>
      </ul>
      <article class="disclaimer">
        Copyright © 2009–2016 Dribbble LLC. All screenshots © their respective owners. Shipped from Salem, Mass. USA.
      </article>
    </section>
    <div id="overlay" class="overlay">
      <article class="message">
        <div id="messageText" class="messageText"></div>
        <a href="#" id="ok" class="ok">OK</a>
        <a href="#" id="close" class="close">Close</a>
      </article>
    </div>
    <!-- @tx-process:include _scripts.html --><!-- /@tx-process -->
  </body>

</html>
