<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <div class="interface">
      <img src="images/avatar.png" class="avatar" width="100" height="100" alt="">
      <a href="#" class="settings">Settings</a>
      <form action="/download" id="options" class="form">
        <select class="select" name="board" id="board" disabled>
          <option value="b1">Board Name</option>
          <option value="b2">Trello Board</option>
          <option value="b3">Next Board</option>
          <option value="b4">Trello Board With A Really Long Name</option>
          <option value="b5">Last Trello Board</option>
        </select>
        <ul class="stepper">
          <li>
            <input type="checkbox" class="option" name="html" id="html">
            <label for="html" class="optionLabel">HTML</label>
          </li>
          <li>
            <input type="checkbox" class="option" name="md" id="md">
            <label for="md" class="optionLabel">MD</label>
          </li>
          <li>
            <input type="checkbox" class="option" name="pdf" id="pdf">
            <label for="pdf" class="optionLabel">PDF</label>
          </li>
          <li>
            <input type="checkbox" class="option" name="epub" id="epub">
            <label for="epub" class="optionLabel">ePUB</label>
          </li>
        </ul>
        <input type="submit" class="button" value="Download Board">
      </form>
    </div>
    <!-- @tx-process:include _scripts.html --><!-- /@tx-process -->
  </body>

</html>
