/* App */

.app {
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
}



/* Share Links */

.shareLinks {
  @include tx-rhythm(1.5, 0);
}



/* Help */

.helpHolder {
  height: 100%;
  max-height: 500px;
}

.helpArticle {
  box-sizing: border-box;
  height: 100%;
  max-height: none;
  padding: 0 $gap $gap 0;
  margin: 0 (-$gap) 0 0;
}
