/* Options */

.optionLabel {

  &:before {
    display: block;
    margin: 0 auto;
  }

  &:after {
    top: ($optionLabelCheckBackground-size / 2);
    left: 50%;
    margin: ($spt-check-height / -2) 0 0 ($spt-check-width / -2);
  }

}
