/* Baseline Styles, Typography & Rhythm */

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #333333;
  font-family: "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

article, nav, section {
  display: block;
}

p, ul, ol {
  margin: 24px 0;
  margin: 1.5rem 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin: 12px 0;
  margin: .75rem 0;
}

/* Phone Baseline */

@media handheld, only screen and (max-width: 45em) {

  /* Typography & Rhythm */
}

/* Print Baseline */

@media print {

  /* Typography & Rhythm */

  @page {
    margin: .5cm;

    size: A4;
  }

  html, body {
    background: #ffffff;
  }

  body {
    color: #333333;
    font-size: 12pt;
    line-height: 1.5;
  }

  input {
    border: 0;
    color: #333333;
    text-decoration: none;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  form {
    display: none;
  }

}

/* Overlay */

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, .75);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%) translateZ(0);
  transform: translateX(-100%) translateZ(0);
  -webkit-transition: opacity .15s, visibility .0001s .15s, -webkit-transform .0001s .15s;
  transition: opacity .15s, visibility .0001s .15s, transform .0001s .15s;
}

.overlay:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.overlay-is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transition: opacity .15s, visibility .0001s, -webkit-transform .0001s;
  transition: opacity .15s, visibility .0001s, transform .0001s;
}

/* Layout Base */

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
}

body:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  vertical-align: middle;
}

/* App */

.app {
  position: relative;
  display: inline-block;
  min-width: 470px;
  padding: 0 15px;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  vertical-align: middle;
  white-space: normal;
}

/* Navigation */

.navItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0 0 48px;
  margin: 0 0 3rem;
  font-size: 0;
  list-style: none;
}

.navItem {
  margin: 0 0 0 15px;
}

/* Form */

.form {
  position: relative;
  margin: 0 0 48px;
  margin: 0 0 3rem;
}

.form:before {
  position: absolute;
  top: 24px;
  right: 15px;
  content: "";
  display: block;
  background-image: url(../images/sprites.png);
}

.form-is-validBoard:before {
  width: 22px;
  height: 20px;
  margin: -10px 0 0;
  background-position: 0 -52px;
}

.form-is-invalidBoard:before {
  width: 21px;
  height: 21px;
  margin: -10.5px 0 0;
  background-position: -67px 0;
}

/* Options */

.options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  text-align: center;
  list-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.options {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 24px 0;
  margin: 1.5rem 0;
}

.option {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Message */

.messageArticle {
  position: relative;
  display: inline-block;
  min-width: 250px;
  max-width: 350px;
  padding: 45px 30px;
  border-radius: 4px;
  color: #337ab7;
  background: #ffffff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  white-space: normal;
}

.messageText {
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
}

/* Help */

.helpArticle {
  position: relative;
  display: inline-block;
  min-width: 260px;
  max-width: 390px;
  padding: 15px 30px;
  border-radius: 4px;
  background: #ffffff;
  font-size: 16px;
  font-size: 1rem;
  font-size: 14.4px;
  font-size: .9rem;
  text-align: left;
  line-height: 1.5;
  line-height: 1.66667;
  vertical-align: middle;
  white-space: normal;
}

.authorizationHelp-is-invisible {
  display: none;
}

/* Error */

.errorMessage {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
}

.error {
  color: #337ab7;
  font-weight: bold;
  font-size: 128px;
  font-size: 8rem;
  line-height: 1.125;
}

/* Disclaimer */

.disclaimer {
  max-width: 420px;
  margin: 24px auto 0;
  margin: 1.5rem auto 0;
  color: #cccccc;
  font-size: 12px;
  font-size: .75rem;
  text-align: center;
  line-height: 1.5;
}

/* HDPI Layout */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
  .form:before {
    background-image: url(../images/sprites@2x.png);
    background-size: 111px 91px;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2.5), only screen and (min-resolution: 2.5dppx), only screen and (min--moz-device-pixel-ratio: 2.5), only screen and (min-device-pixel-ratio: 2.5), only screen and (-webkit-min-device-pixel-ratio: 2.6041666666666665), only screen and (min-resolution: 250dpi) {
  .form:before {
    background-image: url(../images/sprites@3x.png);
    background-size: 111px 91px;
  }

}

/* Phone Layout */

@media handheld, only screen and (max-width: 45em) {

  /* App */

  .app {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
  }

  /* Share Links */
}

/* Print Layout */

@media print {

  /* Layout Base */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

}

/* Selection */

::-moz-selection {
  color: #ffffff;
  background: #337ab7;
}

::selection {
  color: #ffffff;
  background: #337ab7;
}

/* Focus */

a:focus, input:focus, button:focus {
  outline: 1px dotted #cccccc;
}

/* Fast Touch */

a, label, button, .download {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Links */

a {
  color: #337ab7;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(51, 122, 183, .5);
  -moz-text-decoration-color: rgba(51, 122, 183, .5);
  text-decoration-color: rgba(51, 122, 183, .5);
  -webkit-transition: color .15s, text-decoration-color .15s;
  transition: color .15s, text-decoration-color .15s;
}

a:visited {
  color: #6f5499;
  -webkit-text-decoration-color: rgba(111, 84, 153, .5);
  -moz-text-decoration-color: rgba(111, 84, 153, .5);
  text-decoration-color: rgba(111, 84, 153, .5);
}

a:hover {
  color: #d9534f;
  -webkit-text-decoration-color: rgba(217, 83, 79, .5);
  -moz-text-decoration-color: rgba(217, 83, 79, .5);
  text-decoration-color: rgba(217, 83, 79, .5);
}

a:active {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, .5);
  -moz-text-decoration-color: rgba(35, 82, 124, .5);
  text-decoration-color: rgba(35, 82, 124, .5);
}

/* Forms */

label {
  cursor: pointer;
}

input, button {
  margin: 0;
  font-family: inherit;
}

input, button {
  font-size: inherit;
}

input, button {
  box-sizing: content-box;
}

input, button {
  border: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  text-transform: none;
}

input {
  vertical-align: top;
}

.board {
  border: 1px solid #cccccc;
}

input[type="checkbox"] {
  box-sizing: border-box;
  vertical-align: middle;
}

button[disabled] {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
  opacity: 1;
}

button {
  height: 36px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

/* Form Focus */

.board:focus, .download:focus, .optionCheckbox:focus + .optionLabel {
  outline: 1px dotted #cccccc;
  outline-offset: 2px;
}

/* Board URL */

.board {
  box-sizing: border-box;
  width: 100%;
  height: 48.4px;
  height: 3.025rem;
  padding: 0 50px 0 15px;
}

/* Download */

.download {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  height: 3rem;
  padding: 0;
  border-radius: 4px;
  color: #ffffff;
  background: #337ab7;
  cursor: pointer;
}

.download:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 18px;
  height: 19px;
  margin: 0 5px 0 0;
  background: url(../images/sprites.png) -93px 0;
  vertical-align: middle;
}

.download:hover, .download:active {
  background: #23527c;
}

.download[disabled] {
  background: #cccccc;
  opacity: 1;
}

.download-is-busy:before {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin: 0 0 0 -9px;
  -webkit-animation: downloadAnimation 1s infinite;
  animation: downloadAnimation 1s infinite;
}

.download-is-busy:after {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  content: "";
  display: block;
  background: #cccccc;
}

@-webkit-keyframes downloadAnimation {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(67px);
    transform: translateY(67px);
  }

}

@keyframes downloadAnimation {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(67px);
    transform: translateY(67px);
  }

}

/* Options */

.optionCheckbox {
  position: absolute;
  left: -1000px;
}

.optionCheckbox:checked + .optionLabel:before {
  background: #337ab7;
}

.optionCheckbox:checked + .optionLabel:after {
  visibility: visible;
}

.optionCheckbox:checked + .optionLabel:hover:before, .optionCheckbox:checked + .optionLabel:active:before {
  background: #23527c;
}

.optionLabel {
  position: relative;
  display: inline-block;
  color: #337ab7;
  line-height: 30px;
}

.optionLabel:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #337ab7;
  border-radius: 4px;
  margin: -4px 5px 0 0;
  vertical-align: middle;
}

.optionLabel:after {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  display: block;
  width: 22px;
  height: 20px;
  margin: -10px 0 0;
  background: url(../images/sprites.png) -27px -52px;
  visibility: hidden;
}

.optionLabel:hover, .optionLabel:active {
  color: #23527c;
}

.optionLabel:hover:before, .optionLabel:active:before {
  border-color: #23527c;
}

/* Message */

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  overflow: hidden;
  overflow: hidden;
  width: 22px;
  height: 0;
  padding: 22px 0 0;
  background: #337ab7 url(../images/sprites.png) 0 -25px;
}

.close:hover, .close:active {
  background-color: #23527c;
}

.ok {
  display: inline-block;
  height: 36px;
  height: 2.25rem;
  padding: 0 35px;
  border-radius: 4px;
  color: #ffffff;
  background: #337ab7;
  text-decoration: none;
  line-height: 2.25;
}

.ok:visited, .ok:hover, .ok:active {
  color: #ffffff;
}

.ok:hover, .ok:active {
  background: #23527c;
}

/* Help */

.helpToggle {
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
}

.helpToggle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
}

.helpToggle:hover:before, .helpToggle:active:before {
  background-color: #23527c;
}

.helpToggle:focus {
  outline-offset: 2px;
}

.helpToggle {
  width: 22px;
  padding: 22px 0 0;
  border: 2px solid #337ab7;
  border-radius: 50%;
}

.helpToggle:before {
  width: 12px;
  height: 18px;
  margin: -9px 0 0 -6px;
  background: #337ab7 url(../images/sprites.png) -93px -24px;
}

.helpToggle:hover, .helpToggle:active {
  border-color: #23527c;
}

/* Authorization */

.authorization {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
}

.authorization:before {
  position: absolute;
  content: "";
  display: block;
  overflow: hidden;
  width: 21px;
  height: 0;
  padding: 21px 0 0;
  background: url(../images/sprites.png) -27px -25px;
}

.authorization:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-image: url(../images/sprites.png);
}

.authorization-is-authorized:after {
  width: 14px;
  height: 15px;
  margin: 12px -7px 0 0;
  background-position: -93px -47px;
}

.authorization-is-unauthorized:after {
  width: 14px;
  height: 14px;
  margin: 13px -7px 0 0;
  background-position: 0 -77px;
}

.authorization:focus {
  outline-offset: 2px;
}

/* HDPI UI */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
  .download:before, .optionLabel:after, .close {
    background-image: url(../images/sprites@2x.png);
    background-size: 111px 91px;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2.5), only screen and (min-resolution: 2.5dppx), only screen and (min--moz-device-pixel-ratio: 2.5), only screen and (min-device-pixel-ratio: 2.5), only screen and (-webkit-min-device-pixel-ratio: 2.6041666666666665), only screen and (min-resolution: 250dpi) {
  .download:before, .optionLabel:after, .close {
    background-image: url(../images/sprites@3x.png);
    background-size: 111px 91px;
  }

}

/* Phone UI */

@media handheld, only screen and (max-width: 45em) {

  /* Options */

  .optionLabel:before {
    display: block;
    margin: 0 auto;
  }

  .optionLabel:after {
    top: 15px;
    left: 50%;
    margin: -10px 0 0 -11px;
  }

}

/* Print Typography */

@media print {

  /* Links */

  a[href^="#"]:after {
    content: "";
  }

  a {
    color: #333333;
    text-decoration: none;
  }

  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  a:visited {
    color: #333333;
  }

}